.title{
  color:navy;
  margin-right: auto;
}

.header{
  display: flex;
  width: 100%;
  height: 100px;
}

.menu{
  color:navy;
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  position: relative;
  top: 180px;
  left: 750px;
  width: 50%;
  height: 50%;
  z-index: 10;
}

.slogan{
  font-size: 50px;
  margin-bottom: 0;
  margin-left: -10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
}

.box{
  background-color:navy;
  width: 850px;
  height: 150px;
  margin-top: -12px;
  margin-left: -10px;
  position: relative;
  z-index: 0;
}