.title{
  color:navy;
  margin-right: auto;
}

.header{
  display: flex;
  width: 100%;
  height: 100px;
}

.menu{
  color:navy;
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  position: relative;
  left: 50%;
  width: 50%;
  height: 50%;
  z-index: 10;
}

.slogan{
  font-size: 50px;
  margin-top: -15%;
  margin-bottom: -1%;
  margin-left: -1%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
}

.box{
  background-color:navy;
  width: 950px;
  height: 200px;
  margin-top: 0%;
  margin-left: -1%;
  position: relative;
  z-index: 0;
}